.actionBar {
    margin-top: 10px;
    border-top: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
    padding: 20px 0px;
    text-align: left;
}

.actionBar a {
    text-decoration: none;
    text-transform: uppercase;
    color: black;
}

