.itemLink {
    display: flex;
    column-gap: 10px;
    margin-bottom: 25px;
    color: black;
    text-decoration: none;
    align-items: center;
}

.itemLink:hover {
    color: black;
    text-decoration: underline;
}

.itemLink svg {
    color: grey;
}