.questionAnswer {
    display: flex;
    flex-direction: row;
    column-gap: 15px;
    margin-bottom: 20px;
}

.question {
    border: 1px solid lightgrey;
    border-radius: 5px;
    padding: 10px;
    width: 45%;
}

.actionButtons {
    display: flex;
    align-items: center;
}