.fullScreenDataInput {
    height: 100%;
    padding: 10px;
}

.partialScreenDataInput {
    height: 30%;
    padding: 10px;
}

.textarea {
    height: 80%;
    width: 100%;
    min-height: 200px;
    padding: 15px;
}

.buttonContainer {
    text-align: center;
}